<ion-view view-title="New error">
  <ion-content>
    <form ng-submit="add()">
      <div>
        <ion-radio ng-model="newError.type" ng-value="'Type'" name="type">type</ion-radio>
        <ion-radio ng-model="newError.type" ng-value="'Other'" name="type">other</ion-radio>
      </div>
      <div class="item range">
        {{ newError.cost }}
        <input type="range" min="1" max="60" placeholder="Cost" ng-model="newError.cost">
        <i class="icon ion-clock"></i>
      </div>
      <div>
        <ion-radio ng-model="newError.unit" ng-value="'min'" name="unit">minutes</ion-radio>
        <ion-radio ng-model="newError.unit" ng-value="'hrs'" name="unit">hours</ion-radio>
      </div>
      <button class="button button-block button-stable">Add</button>
      <button type="button" ng-click="clear()" class="button button-block button-assertive">Clear</button>
    </form>
  </ion-content>
</ion-view>

