<ion-view view-title="Statistics">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Cost in hours</div>
      <div class="item item-body">
        <div>
          <strong>{{hours.Type}}</strong> hours wasted in type errors.
        </div>
        <div>
          <strong>{{hours.Other}}</strong> hours wasted in other errors.
        </div>
      </div>
    </div>
    <div class="list card" ng-show="showTypeSystemFeaturesDemand">
      <div class="item item-divider">Type System Features Demand</div>
      <div class="item item-body">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="typeSystemFeaturesDemand.data" chart-labels="typeSystemFeaturesDemand.labels"></canvas> 
      </div>
    </div>
  </ion-content>
</ion-view>
